# Data Wrangling with Pandas

<img src="../images/python_pandas.jpg" alt="Python" style="width: 400px;"/>

# Program so far 

***

- Python Basics
- Python Programming Constructs
- Data Structures
- Functions
- Object Oriented Programming in Python
- NumPy
- Pandas

# The Weather Dataset: Reading DataFrames from Files
***
The Weather Dataset is a time-series data set with per-hour information about the weather conditions at a particular location. It records Temperature, Dew Point Temperature, Relative Humidity, Wind Speed, Visibility, Pressure, and Conditions.

<img src="../images/weather.jpg" alt="Weather" style="width: 200px;"/>

This data is available as a CSV file. We are going to use Pandas DataFrames and analyse this dataset.

In [1]:
# Read the data into a data frame
import pandas as pd
weather_df = pd.read_csv("../data/weather_2012.csv") # 

print("Shape:", weather_df.shape)
print("Index:", weather_df.index)
print(weather_df.head(5))

Shape: (8784, 8)
Index: RangeIndex(start=0, stop=8784, step=1)
             Date/Time  Temp (C)  Dew Point Temp (C)  Rel Hum (%)  \
0  2012-01-01 00:00:00      -1.8                -3.9           86
1  2012-01-01 01:00:00      -1.8                -3.7           87
2  2012-01-01 02:00:00      -1.8                -3.4           89
3  2012-01-01 03:00:00      -1.5                -3.2           88
4  2012-01-01 04:00:00      -1.5                -3.3           88

   Wind Spd (km/h)  Visibility (km)  Stn Press (kPa)               Weather
0                4              8.0           101.24                   Fog
1                4              8.0           101.24                   Fog
2                7              4.0           101.26  Freezing Drizzle,Fog
3                6              4.0           101.27  Freezing Drizzle,Fog
4                7              4.8           101.23                   Fog

<img src="../images/icon/ppt-icons.png" alt="mini project
" style="width: 100px;float:left; margin-right:15px"/>
<br /> 

## Mini - Challenge - 1
***
### Instructions
* Find all the unique Wind Speed values recorded in the dataset

In [2]:
# Code your solution here
weather_df["Wind Spd (km/h)"].unique()

array([ 4,  7,  6,  9, 15, 13, 20, 22, 19, 24, 30, 35, 39, 32, 33, 26, 44,
       43, 48, 37, 28, 17, 11,  0, 83, 70, 57, 46, 41, 52, 50, 63, 54,  2],
      dtype=int64)

<img src="../images/icon/ppt-icons.png" alt="mini project
" style="width: 100px;float:left; margin-right:15px"/>
<br /> 

## Mini-Challenge - 2
***
### Instructions
* Find the number of times when the weather was exactly 'Clear'

<img src="../images/icon/Technical-Stuff.png" alt="Technical-Stuff" style="width: 100px;float:left; margin-right:15px"/>
<br /> 

### How can we get the count for Clear ?
***

In order to get only the number of times when the weather was exactly 'Clear' , we need to used Square brackets after `.value_counts` 
eg. `.value_counts()[3]`

In [3]:
# code your solution
weather_df["Weather"].value_counts()[3]

1326

<img src="../images/icon/ppt-icons.png" alt="mini project
" style="width: 100px;float:left; margin-right:15px"/>
<br /> 

## Mini-Challenge - 3
***
**Try one more time..!!**
### Instructions
* Find the number of times when the wind speed was exactly 4 km/h

In [4]:
# Your solution here
weather_df["Wind Spd (km/h)"].value_counts()[9]

830

<img src="../images/icon/ppt-icons.png" alt="mini project
" style="width: 100px;float:left; margin-right:15px"/>
<br /> 

## Mini-Challenge - 4
***
### Instructions
* Get the first 3 alternating rows from the `weather_df` dataframe, but only the Visibility and Relative Humidity columns

In [5]:
# Using loc or iloc
# NOTE: slice is `:5:2`, not 6 !
# first indexing
df1 = weather_df[:5:2]

# second indexing
df2 = df1[['Rel Hum (%)', 'Visibility (km)']]
df2

   Rel Hum (%)  Visibility (km)
0           86              8.0
2           89              4.0
4           88              4.8

<img src="../images/icon/Concept-Alert.png" alt="Concept-Alert" style="width: 100px;float:left; margin-right:15px"/>
<br /> 

## Filtering
***

![Filter](../images/filters1.jpg)
Image Source:https://pixabay.com/en/yashica-filter-camera-vintage-711794/
<br/>

Anything that takes in data, processes it, and provides an output

Input Data ⟶ Filter ⟶ Output Data

Filtering rows of a DataFrame is an almost mandatory task for Data Analysis with Python. Given a Data Frame, we may not be interested in the entire dataset but only in specific rows.

### Instructions
* Access `Weather` column of dataframe and apply `.lower()` function and then apply `.contains()` by passing parameter as `rain` and save it as `snowed_filter`
* This will provide you boolean values to get the data pass the `snowed_filter` into dataframe `weather_df`
***
Whether or not it rain can be found out using the Weather column.

Note that this routine does not filter a dataframe on its contents. The filter is applied to the labels of the index.

In [6]:
weather_df['Weather'].unique()

array(['Fog', 'Freezing Drizzle,Fog', 'Mostly Cloudy', 'Cloudy', 'Rain',
       'Rain Showers', 'Mainly Clear', 'Snow Showers', 'Snow', 'Clear',
       'Freezing Rain,Fog', 'Freezing Rain', 'Freezing Drizzle',
       'Rain,Snow', 'Moderate Snow', 'Freezing Drizzle,Snow',
       'Freezing Rain,Snow Grains', 'Snow,Blowing Snow', 'Freezing Fog',
       'Haze', 'Rain,Fog', 'Drizzle,Fog', 'Drizzle',
       'Freezing Drizzle,Haze', 'Freezing Rain,Haze', 'Snow,Haze',
       'Snow,Fog', 'Snow,Ice Pellets', 'Rain,Haze', 'Thunderstorms,Rain',
       'Thunderstorms,Rain Showers', 'Thunderstorms,Heavy Rain Showers',
       'Thunderstorms,Rain Showers,Fog', 'Thunderstorms',
       'Thunderstorms,Rain,Fog',
       'Thunderstorms,Moderate Rain Showers,Fog', 'Rain Showers,Fog',
       'Rain Showers,Snow Showers', 'Snow Pellets', 'Rain,Snow,Fog',
       'Moderate Rain,Fog', 'Freezing Rain,Ice Pellets,Fog',
       'Drizzle,Ice Pellets,Fog', 'Drizzle,Snow', 'Rain,Ice Pellets',
       'Drizzle,Snow,Fog', 'Rain,Snow Grains', 'Rain,Snow,Ice Pellets',
       'Snow Showers,Fog', 'Moderate Snow,Blowing Snow'], dtype=object)

In [7]:
# Basically, we want a way to "filter out" records that  have the word "snow" (case insensitive) in the last column

snowed_filter = weather_df['Weather'].str.lower().str.contains('rain')
weather_df[snowed_filter].head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
18,2012-01-01 18:00:00,3.8,1.0,82,15,12.9,99.74,Rain
19,2012-01-01 19:00:00,3.1,1.3,88,15,12.9,99.68,Rain
22,2012-01-01 22:00:00,4.4,1.9,84,24,19.3,99.32,Rain Showers
24,2012-01-02 00:00:00,5.2,1.5,77,35,25.0,99.26,Rain Showers
153,2012-01-07 09:00:00,-6.1,-8.7,82,7,9.7,100.15,"Freezing Rain,Fog"

###  Instructions
* Find all instances when wind speed was above 35 and visibility was 25 and sve it as `df` and print it.

In [8]:
df = weather_df[(weather_df['Wind Spd (km/h)'] > 35) & (weather_df['Visibility (km)']== 25)]
df.head()

,Date/Time,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
25,2012-01-02 01:00:00,4.6,0.0,72,39,25.0,99.26,Cloudy
409,2012-01-18 01:00:00,3.7,-2.1,66,83,25.0,98.36,Mostly Cloudy
410,2012-01-18 02:00:00,0.5,-4.0,72,70,25.0,98.62,Mostly Cloudy
411,2012-01-18 03:00:00,-3.5,-8.2,70,57,25.0,99.00,Mostly Cloudy
412,2012-01-18 04:00:00,-6.1,-10.9,69,48,25.0,99.36,Snow

<img src="../images/icon/Technical-Stuff.png" alt="Concept-Alert" style="width: 100px;float:left; margin-right:15px"/>
<br /> 

# Pivot Tables : Excellent way to Summarize your Data!
***
- A pivot table is a tool that allows you to reorganize and summarize selected columns and rows of data in a dataframe <br/><br/>

- Pivot tables provide an easy way to subset by one column and then apply a calculation like a sum or a mean <br/><br/>

- Pivot tables first groups and only then applies a calculation

### Instructions
* A dictionary containing data is already defined in the variable `data`.
* Create a dataframe using dictionary `data` and save it as `df`
* Print the `df`

In [9]:
data = {
    'A': ['foo','foo','foo','bar','bar','bar'],
    'B': ['one','one','two','two','one','one'],
    'C': ['x','y','x','y','x','y'],
    'D': [1, 3, 2, 5, 4, 1]
}

df = pd.DataFrame(data)
df

     A    B  C  D
0  foo  one  x  1
1  foo  one  y  3
2  foo  two  x  2
3  bar  two  y  5
4  bar  one  x  4
5  bar  one  y  1

### Instructions
* Use .pivot_table() on the dataframe with index as `A`, values as `D` , columns as `B` and  aggfunc as `np.sum`. Save it as `pivot_df` and print it out

In [10]:
import numpy as np
pivot_df = df.pivot_table(
                values='D',      # We want to aggregate the values of which column?
                index='A',       # We want to use which column as the new index?
                columns='B',   # We want to use the values of which column as the new columns? (optional)
                aggfunc=np.sum)  # What aggregation function to use ?


pivot_df

B    one  two
A
bar    5    5
foo    4    2

### Instructions
* What is the mean Dew Point temperature recorded by month?
* Use .pivot_table() on the dataframe `weather_df` with index as `weather_df.index`, values as `Dew Point Temp (C)` , and  aggfunc as `np.mean`. Save it as `mean_dew_temperature_df` and print it out

In [11]:
weather_df['Date/Time'] = pd.to_datetime(weather_df['Date/Time'])
mean_dew_temperature_df = weather_df.pivot_table(values='Dew Point Temp (C)', index=weather_df['Date/Time'].dt.month, aggfunc=np.mean)
mean_dew_temperature_df

           Dew Point Temp (C)
Date/Time
1                  -12.294758
2                   -9.221695
3                   -3.488575
4                   -1.934583
5                    8.080780
6                   11.738056
7                   14.595430
8                   15.644758
9                   10.757917
10                   6.533468
11                  -4.179306
12                  -6.129032

<img src="../images/icon/Technical-Stuff.png" alt="Concept-Alert" style="width: 100px;float:left; margin-right:15px"/>
<br /> 

# Group By
***
The groupby method allows you to group rows of data together and call aggregate functions that applies to the whole group.

Any groupby operation involves one of the following operations on the original object. They are −
- Splitting the Object
- Applying a function
- Combining the results

In many situations, we split the data into sets and we apply some functionality on each subset. In the apply functionality, we can perform the following operations −

- Aggregation − computing a summary statistic
- Transformation − perform some group-specific operation
- Filtration − discarding the data with some condition

### Instructions
* Use `.groupby()` on `Weather` column  and aggregate the mean values of each column for different types of weather using `.mean()`

In [80]:
mean_temperature_df2 = weather_df.groupby("Weather").agg(np.mean)
mean_temperature_df2

,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa)
Weather,,,,,,
Clear,6.825716,0.089367,64.497738,10.557315,30.153243,101.587443
Cloudy,7.970544,2.375810,69.592593,16.127315,26.625752,100.911441
Drizzle,7.353659,5.504878,88.243902,16.097561,17.931707,100.435366
"Drizzle,Fog",8.067500,7.033750,93.275000,11.862500,5.257500,100.786625
"Drizzle,Ice Pellets,Fog",0.400000,-0.700000,92.000000,20.000000,4.000000,100.790000
"Drizzle,Snow",1.050000,0.150000,93.500000,14.000000,10.500000,100.890000
"Drizzle,Snow,Fog",0.693333,0.120000,95.866667,15.533333,5.513333,99.281333
Fog,4.303333,3.159333,92.286667,7.946667,6.248000,101.184067
Freezing Drizzle,-5.657143,-8.000000,83.571429,16.571429,9.200000,100.202857
"Freezing Drizzle,Fog",-2.533333,-4.183333,88.500000,17.000000,5.266667,100.441667
"Freezing Drizzle,Haze",-5.433333,-8.000000,82.000000,10.333333,2.666667,100.316667
"Freezing Drizzle,Snow",-5.109091,-7.072727,86.090909,16.272727,5.872727,100.520909
Freezing Fog,-7.575000,-9.250000,87.750000,4.750000,0.650000,102.320000
Freezing Rain,-3.885714,-6.078571,84.642857,19.214286,8.242857,99.647143
"Freezing Rain,Fog",-2.225000,-3.750000,89.500000,15.500000,7.550000,99.945000
"Freezing Rain,Haze",-4.900000,-7.450000,82.500000,7.500000,2.400000,100.375000
"Freezing Rain,Ice Pellets,Fog",-2.600000,-3.700000,92.000000,28.000000,8.000000,100.950000
"Freezing Rain,Snow Grains",-5.000000,-7.300000,84.000000,32.000000,4.800000,98.560000
Haze,-0.200000,-2.975000,81.625000,10.437500,7.831250,101.482500
Mainly Clear,12.558927,4.581671,60.667142,14.144824,34.264862,101.248832
"Moderate Rain,Fog",1.700000,0.800000,94.000000,17.000000,6.400000,99.980000
Moderate Snow,-5.525000,-7.250000,87.750000,33.750000,0.750000,100.275000
"Moderate Snow,Blowing Snow",-5.450000,-6.500000,92.500000,40.000000,0.600000,100.570000
Mostly Cloudy,10.574287,3.131174,62.102465,15.813920,31.253842,101.025288
Rain,9.786275,7.042810,83.624183,19.254902,18.856536,100.233333
Rain Showers,13.722340,9.187766,75.159574,17.132979,22.816489,100.404043
"Rain Showers,Fog",12.800000,12.100000,96.000000,13.000000,6.400000,99.830000
"Rain Showers,Snow Showers",2.150000,-1.500000,76.500000,22.500000,21.700000,101.100000
"Rain,Fog",8.273276,7.219828,93.189655,14.793103,6.873276,100.500862
"Rain,Haze",4.633333,2.066667,83.333333,11.666667,6.700000,100.540000
"Rain,Ice Pellets",0.600000,-0.600000,92.000000,24.000000,9.700000,100.120000
"Rain,Snow",1.055556,-0.566667,89.000000,28.388889,11.672222,99.951111
"Rain,Snow Grains",1.900000,-2.100000,75.000000,26.000000,25.000000,100.600000
"Rain,Snow,Fog",0.800000,0.300000,96.000000,9.000000,6.400000,100.730000
"Rain,Snow,Ice Pellets",1.100000,-0.175000,91.500000,23.250000,6.000000,100.105000
Snow,-4.524103,-7.623333,79.307692,20.038462,11.171795,100.536103
Snow Pellets,0.700000,-6.400000,59.000000,35.000000,2.400000,99.700000
Snow Showers,-3.506667,-7.866667,72.350000,19.233333,20.158333,100.963500
"Snow Showers,Fog",-10.675000,-11.900000,90.750000,13.750000,7.025000,101.292500
"Snow,Blowing Snow",-5.410526,-7.621053,84.473684,34.842105,4.105263,99.704737
"Snow,Fog",-5.075676,-6.364865,90.675676,17.324324,4.537838,100.688649
"Snow,Haze",-4.020000,-6.860000,80.600000,5.000000,4.640000,100.782000
"Snow,Ice Pellets",-1.883333,-3.666667,87.666667,23.833333,7.416667,100.548333
Thunderstorms,24.150000,19.750000,77.000000,7.500000,24.550000,100.230000
"Thunderstorms,Heavy Rain Showers",10.900000,9.000000,88.000000,9.000000,2.400000,100.260000
"Thunderstorms,Moderate Rain Showers,Fog",19.600000,18.500000,93.000000,15.000000,3.200000,100.010000
"Thunderstorms,Rain",20.433333,18.533333,89.000000,15.666667,19.833333,100.420000
"Thunderstorms,Rain Showers",20.037500,17.618750,86.375000,18.312500,15.893750,100.233750
"Thunderstorms,Rain Showers,Fog",21.600000,18.700000,84.000000,19.666667,9.700000,100.063333
"Thunderstorms,Rain,Fog",20.600000,18.600000,88.000000,19.000000,4.800000,100.080000

<img src="../images/icon/Technical-Stuff.png" alt="Concept-Alert" style="width: 100px;float:left; margin-right:15px"/>
<br /> 

# Concat, Merge and Join 
<br/>

***
There are 3 key ways of combining DataFrames together:

- **Concatenation**: Concatenation glues together DataFrames. Keep in mind that dimensions should match along the axis you are concatenating on <br/><br/>
- **Merging**: “Merging” two datasets aligns the rows from each based on common attributes or columns<br/><br/>
- **Join**: Join is a convenient method for combining the columns of two potentially differently-indexed DataFrames into a single result DataFrame

## Concat

Many a time, we are required to combine different arrays. So, instead of typing each of their elements manually, you can use array concatenation to handle such tasks easily.

In [48]:
df1 = pd.DataFrame({
    'A': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3'],
    'C': ['C0', 'C1', 'C2', 'C3'],
    'D': ['D0', 'D1', 'D2', 'D3']
}, index=[0, 1, 2, 3])

df2 = pd.DataFrame({
    'A': ['A4', 'A5', 'A6', 'A7'],
    'B': ['B4', 'B5', 'B6', 'B7'],
    'C': ['C4', 'C5', 'C6', 'C7'],
    'D': ['D4', 'D5', 'D6', 'D7']
}, index=[4, 5, 6, 7])

df3 = pd.DataFrame({
    'A': ['A8', 'A9', 'A10', 'A11'],
    'B': ['B8', 'B9', 'B10', 'B11'],
    'C': ['C8', 'C9', 'C10', 'C11'],
    'E': ['D8', 'D9', 'D10', 'D11']
}, index=[8, 9, 10, 11])

### Instructions
* Three dataframes already defined for you
* Concat 3 dataframes i.e `df1`,`df2`,`df3` along rows

In [49]:
# if you don't specify an axis, it defaults to axis=0, which means it appends to rows
pd.concat([df1, df2, df3])

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

### Instructions
* Concat 3 dataframes i.e `df1`,`df2`,`df3` along columns

In [97]:
# axis=1 means concat along columns

pd.concat([df1, df2, df3], axis=1)

      A    B    C    D    x    y    z    A    B    C    E
0    A0   B0   C0   D0  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    A1   B1   C1   D1  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    A3   B3   C3   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN
a   NaN  NaN  NaN  NaN  1.0  2.0  3.0  NaN  NaN  NaN  NaN
b   NaN  NaN  NaN  NaN  3.0  4.0  5.0  NaN  NaN  NaN  NaN
c   NaN  NaN  NaN  NaN  5.0  6.0  7.0  NaN  NaN  NaN  NaN
d   NaN  NaN  NaN  NaN  7.0  8.0  9.0  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN  NaN  NaN  NaN   A8   B8   C8   D8
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN   A9   B9   C9   D9
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10  D10
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11  D11

## Join
***
Simply join two DFs having potentially different row indices

You can do both inner as well as outer joins using the join function in pandas
- Parameters {‘inner’, ‘outer’}, default ‘outer’. Outer for union and inner for intersection.

### Instructions
* Two dataframes i.e `left_df` and `right_df` already defined for you.
* Join two dataframes using `.join()` 
* Since it is an outer join pass `how='outer'`

In [52]:
# Join
left_df = pd.DataFrame({
    'A': ['A0', 'A1', 'A2'],
    'B': ['B0', 'B1', 'B2']
}, index=['K0', 'K1', 'K2']) 

right_df = pd.DataFrame({
    'C': ['C0', 'C2', 'C3'],
    'D': ['D0', 'D2', 'D3']
}, index=['K0', 'K2', 'K3'])

left_df.join(right_df, how='outer')

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3

## Merge

Many a times you will be working with multiple dataframes all at once.

The merge function allows them to be combined into a single data frame

### Instructions
* Two dataframes i.e `left` and `right` is already defined for you.
* From the left dataframe i.e. `left` and from the right dataframe i.e `right` you will be taking two columns for merging `key1` and `key2`; so pass them as on=['key1','key2'] inside the .merge() method
* Since it is an outer join pass `how='outer'` also

In [98]:
# Merging on multiple keys
left = pd.DataFrame({
    'key1': ['K0', 'K0', 'K1', 'K2'],
    'key2': ['K0', 'K1', 'K0', 'K1'],
    'A': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3']
})
    
right = pd.DataFrame({
    'key1': ['K0', 'K1', 'K1', 'K2'],
    'key2': ['K0', 'K0', 'K0', 'K0'],
    'C': ['C0', 'C1', 'C2', 'C3'],
    'D': ['D0', 'D1', 'D2', 'D3']
})

pd.merge(left, right, how='outer', on=['key1', 'key2'])

  key1 key2    A    B    C    D
0   K0   K0   A0   B0   C0   D0
1   K0   K1   A1   B1  NaN  NaN
2   K1   K0   A2   B2   C1   D1
3   K1   K0   A2   B2   C2   D2
4   K2   K1   A3   B3  NaN  NaN
5   K2   K0  NaN  NaN   C3   D3

In [99]:
# other options are 'inner', 'left', 'right'

pd.merge(left, right, how='left', on=['key1', 'key2'])

  key1 key2   A   B    C    D
0   K0   K0  A0  B0   C0   D0
1   K0   K1  A1  B1  NaN  NaN
2   K1   K0  A2  B2   C1   D1
3   K1   K0  A2  B2   C2   D2
4   K2   K1  A3  B3  NaN  NaN

## Quiz
1. Which of the following statements are true regarding the Series and DataFrames?

```python
1. Series and DataFrames are the 2 key data structures in Pandas.
2. Series act like a 1-D labelled/indexed array.
3. Series doesn't allow accessing individual elements through labels.
4. A data frame is similar to Excel workbook
5. Series is a core data model whereas Data frame is a secondary model for Pandas.
Ans:- 1,2,4
```
2. Which are not a valid statements about the accelerated operations support in Pandas?

```python
1. Pandas library has support for accelerating certain types of binary numerical and boolean operations.
2. Pandas library's ability to support accelerated operations is useful for dealing with large data sets and speed improvements.
3. It is required to identify missing data in computations.
4. It helps in determining the broadcasting behavior between higher (e.g. DataFrame) and lower-dimensional (e.g. Series) objects.
Ans:- 3,4
```
3. Which of the following Python libraries provides support for data munging?

```python
1.   NumPy
2.   Matplotlib
3.   Pandas
4.   SciPy
Ans:- 3
```

## Solution for in class activity

In [2]:
# import the pandas library
import pandas as pd

ipl_data = {'Team': ['Riders', 'Riders', 'Devils', 'Devils', 'Kings',
         'kings', 'Kings', 'Kings', 'Riders', 'Royals', 'Royals', 'Riders'],
         'Rank': [1, 2, 2, 3, 3,4 ,1 ,1,2 , 4,1,2],
         'Year': [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
         'Points':[876,789,863,673,741,812,756,788,694,701,804,690]}
df = pd.DataFrame(ipl_data)

grouped = df.groupby('Year')
print(grouped.get_group(2014))

     Team  Rank  Year  Points
0  Riders     1  2014     876
2  Devils     2  2014     863
4   Kings     3  2014     741
9  Royals     4  2014     701

# Further Reading
***
- Pandas documentation: http://pandas.pydata.org/
- 10 minutes to pandas: https://pandas.pydata.org/pandas-docs/stable/10min.html
- Cookbook- Useful Pandas Recipes: https://pandas.pydata.org/pandas-docs/stable/cookbook.html
- Pandas and Python Top 10: http://manishamde.github.io/blog/2013/03/07/pandas-and-python-top-10/
- Intro to Pandas Data Structures: http://www.gregreda.com/2013/10/26/

# Thank You
***
### Coming up next...
***
- Visualizing data using `matplotlib`
- Getting started with Machine Learning